@font-face{
  font-family: 'genesis-head-light';
  src: url('../../fonts/GenesisSansHeadKRLight.eot');
  src: url('../../fonts/GenesisSansHeadKRLight.eot#iefix') format('embededd-opentype'),
      url('../../fonts/GenesisSansHeadKRLight.woff2') format('woff2'),
      url('../../fonts/GenesisSansHeadKRLight.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'genesis-head';
  src: url('../../fonts/GenesisSansHeadKRRegular.eot');
  src: url('../../fonts/GenesisSansHeadKRRegular.eot#iefix') format('embededd-opentype'),
      url('../../fonts/GenesisSansHeadKRLight.woff2') format('woff2'),
      url('../../fonts/GenesisSansHeadKRRegular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'genesis-text';
  src: url('../../fonts/GenesisSansTextKRRegular.eot');
  src: url('../../fonts/GenesisSansTextKRRegular.eot#iefix') format('embededd-opentype'),
       url('../../fonts/GenesisSansTextKRRegular.eot.woff2') format('woff2'),
       url('../../fonts/GenesisSansTextKRRegular.eot.woff') format('woff');
  font-style: normal;
}