@mixin ellipse($lineHight : 10px, $line:1){
  overflow: hidden;
  text-overflow: ellipsis;

  @if($line > 1){ /*만약에 한줄보다 많으면*/
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    line-height: $lineHight;
    max-height: $lineHight * $line;
  }@else{ //위 조건에 만족하지 않는 모든 조건
    white-space: nowrap;
  }

}

@mixin position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

$laptop : 1600px;
$laptop2 : 1360px;
$tablet : 1024px;
$mobile : 768px;

//@content : 선언된 mixin 안에서 새로운 스타일을 적용할 때 사용하는 기법
//기존 mixin이 가지고 있는 스타일 외에 선택자나 속성 등을 추가하여 사용할 때
@mixin laptop {
  @media (max-width :$laptop){
    @content;
  }
} /* 1600px와 1360px 사이 */

@mixin laptop2 {
  @media (max-width: $laptop2){
    @content;
  }
}/* 1360px와 1024px 사이 */

@mixin tablet {
  @media (max-width: $tablet){
    @content;
  }
}/* 1024px와 768px 사이 */

@mixin mobile {
  @media (max-width : $mobile){
    @content;
  }
}
